.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #f0f0f0;
}

.tabs {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-x: auto;
}

.tab {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem 0.2rem 0 0;
  cursor: pointer;
  white-space: nowrap;

  &:not(button) {
    border: 1px solid #f0f0f0;
  }

  p {
    vertical-align: middle;
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  button {
    padding: 0.1rem;
    font-size: 0.4rem;
    aspect-ratio: 1;
    outline: none;
    color: inherit;
  }

  &.active {
    background-color: #fff;
  }

  span {
    background-color: var(--primary-color);
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;
    font-size: 0.5rem;
    color: #fff;
    font-weight: 100;
  }
}

button.tab {
  border-radius: 0.2rem;
}

.code {
  label {
    border-radius: 0;
    border: 1px solid #f0f0f0;
    border-top: none;
  }

  textarea {
    border-radius: 0;
    border: none;
    outline: none;
    padding: 0.7rem;
    background-color: transparent;
    color: currentColor;
    font-family: inherit;
    resize: none;
    min-height: 25svh;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    line-height: 1.5;
    font-family: inherit;
    resize: vertical;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: 2rem;
  font-size: 4rem;
  color: #aaa;

  p {
    font-size: 2rem;
    font-weight: 100;
  }
}
