.image_input {
  cursor: pointer;
  input {
    display: none;
  }

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}
