.account-settings-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2rem;

  .img-specification {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    p {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 0.3rem;
    }

    button {
      margin-top: 0.8rem;
    }
  }

  .profile-img {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    align-items: center;
    gap: 2rem;
  }
}
