.agentCard {
  padding: 1rem;
  border-radius: 0.5rem;
  /* border: 1px solid rgba(255, 255, 255, 0.4); */
}

.agentCard_info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .info {
    display: grid;
    align-items: center;
    grid-template-columns: 50px 1fr;
    gap: 1rem;

    h3 {
      font-size: 1.2rem;
    }
  }

  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }

  .actions {
    display: flex;
    gap: 0.5rem;

    button,
    a {
      padding: 0.5rem;
    }
  }

  .description {
    button {
      text-decoration: underline;
    }
  }

  .agentCard_tools {
    display: flex;
    justify-content: flex baseline;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0.5rem;

    > button,
    > div {
      flex: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.3rem;
      font-size: 0.8rem;
      font-weight: 500;
      color: var(--text-color);

      &.cancelled_tool {
        background-color: var(--danger-color);
      }

      button {
        padding: 0 0.4rem;
        aspect-ratio: 1;
        border-radius: 50%;
      }
    }

    > div {
      justify-content: space-between;

      p {
        flex: 1;
        text-align: center;
      }
    }
  }

  .addControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .formInputs {
      display: contents;
    }

    .actionBTNs {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: inherit;
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}
