.team-sidebar {
  width: var(--side-width);
  background: linear-gradient(
    135deg,
    var(--bg-color),
    var(--secondary-bg-color)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-inline-end: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  overflow: hidden;
  gap: 1rem;

  .user {
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .workspaces-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: inherit;
    height: 100%;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }

    .workspace {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 0.2rem;
      width: 100%;

      p {
        text-align: start;
        font-size: 0.8rem;
        font-weight: 200;
        text-align: center;
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      &.active {
        padding: 0.5rem;
        background-color: var(--primary-color);
        border-radius: 0.5rem;
      }
    }
  }

  .current-workspace {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;

    p {
      text-align: start;
      font-size: 0.8rem;
      font-weight: 200;
      text-align: center;
      text-transform: capitalize;
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 1rem;
    }
  }

  img {
    width: 60px;
    border-radius: 50%;
    aspect-ratio: 1;
  }

  .settings {
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1.5rem;
    padding-top: 1rem;
  }
}
