.team-layout {
  display: grid;
  grid-template-columns: var(--side-width) 1fr;
  height: calc(100dvh - 50px);
}

.select-team-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  height: 95svh;

  img {
    width: min(300px, 100%);
    animation: floating-bot 3s ease-in-out 2.5s infinite alternate;
  }

  h1 {
    font-size: 3rem;
    font-weight: 100;
  }

  p {
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 1.2cap;
  }

  button {
    margin-top: 1rem;
  }
}
