.fancy-border {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: -2px; /* لتوسيع الحدود قليلاً */
    background: linear-gradient(-45deg, #555, #111);
    border-radius: inherit;
    z-index: -1;
    padding: 1px; /* لإنشاء مساحة للخلفية الداخلية */
  }

  /* إضافة خلفية داخلية لإخفاء التدرج خلف المحتوى */
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--bg-color, white);
    border-radius: inherit;
    z-index: -1;
  }
}

.glass-bg {
  background: linear-gradient(
    135deg,
    var(--bg-color),
    var(--secondary-bg-color)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-list {
  display: flex;
  gap: 0.5rem;

  &.breadcrumb-list {
    > li:not(:first-child)::before {
      content: "/";
      display: inline-block;
      padding-inline-end: 0.5rem;
    }
  }

  & > li {
    position: relative;

    ul {
      position: absolute;
      inset-inline-end: 0;
      top: 200%;
      opacity: 0;
      pointer-events: none;
      padding: 0.2rem;
      font-size: 1rem;
      white-space: nowrap;
      max-height: 25svh;
      overflow-y: auto;
      transition: 0.3s all ease-in-out;

      button,
      a {
        padding: 0.5rem;
        width: 100%;
        text-align: start;
      }

      li:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
    }

    &.dd-start {
      ul {
        inset-inline-start: 0;
        inset-inline-end: auto;
      }
    }

    &.dd-end {
      ul {
        inset-inline-start: auto;
        inset-inline-end: 0;
      }
    }

    &:hover {
      ul {
        top: 100%;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  button,
  a {
    padding: 0;
  }
}

.test {
  padding: 10vh 15vw;
}

pre.code {
  display: block;
  position: relative;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);

  &::before {
    content: attr(data-title);
    position: absolute;
    inset-block-start: 0.5rem;
    inset-inline-start: 0.5rem;
    color: var(--success-color);
  }
}

.tooltip {
  position: relative;
  &::before {
    pointer-events: none;
    content: attr(data-tooltip);
    position: absolute;
    inset-block-start: 0%;
    inset-inline-start: 50%;
    translate: -50% -0%;
    z-index: 10;
    font-size: 0.8rem;
    background: linear-gradient(
      135deg,
      var(--bg-color),
      var(--secondary-bg-color)
    );
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: 0.3s all ease-in-out;
  }

  &.tooltip-bottom {
    &::before {
      inset-block-start: 100%;
      translate: -50% 50%;
    }

    &:hover::before {
      translate: -50% 0%;
    }
  }

  &:hover::before {
    translate: -50% -50%;
    opacity: 1;
  }
}

.container {
  padding: 3rem var(--inline-padding);

  @media (width < 860px) {
    padding: 3rem 5vw;
  }
}

.avatar {
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.table {
  width: 100%;
  border-collapse: collapse;

  tr:not(:last-child) th,
  tr:not(:last-child) td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  th,
  td {
    padding: 1rem;
    text-transform: capitalize;
  }

  th {
    width: 25%;
  }

  th {
    font-weight: 500;
    text-align: start;
  }

  td {
    font-weight: 200;
  }
}

.column-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}

.form-footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
